[submodule "MotorcyclesBackend"]
	path = MotorcyclesBackend
	url = https://github.com/MXSandmann/MotorcyclesBackend.git
[submodule "MotorcyclesFrontend"]
	path = MotorcyclesFrontend
	url = https://github.com/MXSandmann/MotorcyclesFrontend.git
